<div class="count-list init-opacity-0 animated animatedOnScroll" data-animated="fadeIn">
    <div class="count-item">
        <span class="count-number">98%</span>
        <span class="count-name">Счастливых клиентов</span>
    </div>
    <div class="count-item">
        <span class="count-number">7854</span>
        <span class="count-name">Выпито кружек кофе</span>
    </div>
    <div class="count-item">
        <span class="count-number">1024</span>
        <span class="count-name">Выполненных задач</span>
    </div>
    <div class="count-item">
        <span class="count-number">4</span>
        <span class="count-name">Года на рынке</span>
    </div>
</div>