<div class="widget form-container bg-gray init-opacity-0 animated animatedOnScroll" data-animated="fadeIn">
    <div class="form-answer bg-gray">
        <div class="container">
            <div class="form-answer-success">
                <svg class="icon icon-success"><use xlink:href="#icon-success"></use></svg>
                <h4>Ваша заявка успешно отправлена!</h4>
                <a href="#" class="btn btn-secondary __green close-form-answer"><span>Спасибо</span></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="heading">
            <span class="heading-title">Связаться с нами</span>
            <span class="heading-text">В любое время суток Вы можете оставить свое сообщение используя форму обратной связи и мы обязательно ответим на интересующие Вас вопросы.</span>
        </div>

        <form id="feedback" class="form">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <input type="text" name="name" class="form-control">
                    <span class="form-placeholder">Ваше имя <span class="red">*</span></span>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <input type="text" name="email" class="form-control">
                    <span class="form-placeholder">Ваш e-mail <span class="red">*</span></span>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <input type="text" class="form-control">
                    <span class="form-placeholder">Тема/вопрос</span>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-12 form-group">
                    <textarea rows="1" class="form-control"></textarea>
                    <span class="form-placeholder">Сообщение</span>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-secondary"><span>Отправить</span></button>
            </div>
        </form>
    </div>
</div>