            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
            <!-- Fonts -->

            <!-- Styles -->
            <link href="css/external.css" rel="stylesheet">
            <link href="css/internal.css" rel="stylesheet">
            <!-- Styles -->

            <!-- Scripts -->
            <script src="js/jquery/jquery.min.js"></script>
            <script src="js/external.js"></script>
            <script src="js/internal.js"></script>
            <!-- Scripts -->